astroid==2.3.3
autopep8==1.5
bandit==1.6.2
click==7.1.1
entrypoints==0.3
flake8==3.7.9
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
flask-mongoengine==0.9.5
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
gitdb==4.0.2
GitPython==3.1.0
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
marshmallow==3.4.0
mccabe==0.6.1
mongoengine==0.19.1
pbr==5.4.4
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.1
PyYAML==5.3.1
six==1.14.0
smmap==3.0.1
snowballstemmer==2.0.0
stevedore==1.32.0
typed-ast==1.4.1
Werkzeug==1.0.1
wrapt==1.11.2
WTForms==2.2.1
